@import "tailwindcss";

*{
  font-family: "Dancing Script", serif;
  padding:0px;
  margin:0;
  box-sizing: border-box;
}
body{
  min-height:100vh;
  background-color: #F6EBD0;


}
a{
  text-decoration: none;
  color:inherit;
}
